.highlight {
	background-color: #FFFD8C;
}

.light_highlight{
	background-color: #ffffec;
}

/*
 * Styling for lists of content
 */

.projects li.light_highlight{
	border-width: 0 0 0 0;
}

.projects li.emphasize .list-image .thumbnail {
	width: 110px;
	height: 110px;
}

.projects li.emphasize .title {
	font-size: 26px;
}

/*
.projects li.emphasize .description {
	font-size: 19px;
}
.projects li.emphasize .accolade {
	font-size: 19px;
}
.projects li.emphasize .content-link {
	font-size: 16px;
}
*/

.content-link {
	font-size: 12px;
}

/* 
 * Styling for pages with screen-wide photos
 */

.no-padding{
	padding:0 0 0 0;
}

.no-padding .post-header{
	margin-top: 30px;
}

.no-padding article {
	margin-bottom: 60px;
}

/*
 * Styling for media elements
 */

img.header_img {
	width:100%;
	margin: 0% 0% 0.2% 0%;
	display: block;
}

img.footer_img {
	width:100%;
	margin: 0.2% 0% 0% 0%;
	display: block;
}

img.fullwidth {
	width:100%;
	margin: 5% 0% 0% 0%;
}

img.profile {
	width:50%;
	float:left;
	margin: 0% 5% 2% 0%;
}

img.mini_profile {
	width:40%;
	float:left;
	margin: 0% 2% 1% 0%;
}

img.mini_profile_right {
	width:40%;
	float:right;
	margin: 0% 0% 1% 2%;
}

.gallery, .fullwidth-gallery{
	margin: 0;
}

.gallery img {
	width: 31%;
	margin-right:1%;
}

.fullwidth-gallery img {
	width: 100%;
}

.fullwidth-gallery figure {
	margin-bottom: 3%;
}

figure figcaption{
	text-align: center;
	font-style: italic;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/*
 * Styling for personal page
 */

.section {
 overflow: hidden;
}

.section p {
 margin-bottom: 1em;
}

/*
 * Styling for publication page
 */

 .publications ul li { margin-bottom: 20px; }

/*
 * Starting list comments
 */

.projects li {
	width: 100%;
	vertical-align: top;

	overflow: auto;
	padding: 2%;
	margin: 0%;

	border-color: #EFEFEF;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

.projects li .list-substance{
	display: table;
}

.projects li .list-image{
	display: table-cell;
}

.projects li .list-content{
	display: table-cell;
	padding-left: 3%;
	vertical-align: top;
	width: 100%;
}

.projects li .list-date{
	display: block;
	float: right;
	vertical-align: top;
}

.projects li .title {
	display: inline-block;
	font-size: 20px;
	font-style: none;
}



.projects li .description {
	display: block;
	font-style: none;
}

.projects li .accolade{
	display: block;
}

.projects li .accolade img {
	width:0.9em;
	height:0.9em;
	display: inline;
}

.projects li .accolade p {
	display: inline;
}

.thumbnail {
	width:75px;
	height:75px;
}


/*
 * Styling for pagetype: page
 */ 
.thumbnail-header .thumbnail {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 3%;
}

.thumbnail-header {
	margin-bottom: 50px;
	overflow: hidden;
}

.thumbnail-header h1 {
	display: inline-block;
	max-width: 670px;

	/* Allow individual long words to be wrapped */
    word-break: break-word;
	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
    hyphens: auto;
}



/*
 * Conditional CSS for small devices
 */

@media screen and (max-width: 750px) {
	header.list-header {
		text-align: center;
	}


	/*
	 * Make all elements of the list item stack vertically
	 * rather than horizontally
	 * (and remove some padding along the way to make sure
	 * everyhing is lined up)
	 */
	.wrap {
		padding-left: 0;
	}

	.list-page-content {
		text-align: center;
	}

	.list-page-content p {
		text-align: center;
	}

	.list-page-content ul, .list-page-content ol{
		padding-left: 0px;
		text-align: center;
	}

	.post ul, .post ol{
		margin-left: 0px;
	}

	.list-page-content .projects li .list-substance {
		display: block;
	}

	.list-page-content .projects li .list-image{
		display: block;
	}

	.list-page-content .projects li .list-content{
		padding: 0%;
		display: block;
	}

	.list-page-content .projects li .list-date{
		float: none;
	}

	/*
	 * Center text and image
	 */ 
	.list-page-content .projects li {
		text-align: center;
	}

	.list-page-content .projects img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}


	/*
	 * Add correct vertical spacing to elements
	 */
	.thumbnail {
		float: none;
		margin-bottom: 2%;
		display: block;
	}

	.projects li .title {
		margin-bottom: 1%;
	}

}

